<div class="row">

  <div class="col-sm-8 blog-main">

    <div class="blog-post" ng-repeat="post in posts | orderBy:'-timestamp'">
      <h2 class="blog-post-title">{{post.title}}</h2>
      <p class="blog-post-meta">{{post.timestamp | date:'MMMM d, y'}} by <a href="#">Kevin</a></p>
      <div ng-bind-html="post.body"></div>
    </div>

  </div>

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>This is my personal blog where I discuss my life.</p>
    </div>

    <div class="sidebar-module">
      <h4>Archives</h4>
      <ol class="list-unstyled">
        <li><a href="#">March 2014</a></li>
        <li><a href="#">February 2014</a></li>
        <li><a href="#">January 2014</a></li>
      </ol>
    </div>

    <div class="sidebar-module">
      <h4>Elsewhere</h4>
      <ol class="list-unstyled">
        <li><a href="http://www.kevinlin.me/">Personal Website</a></li>
        <li><a href="https://github.com/kevin-lin">GitHub</a></li>
        <li><a href="https://www.linkedin.com/pub/kevin-lin/85/130/b15">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/kevin.lin94">Facebook</a></li>
      </ol>
    </div>

  </div><!-- /.blog-sidebar -->

</div>

<ul class="pager">
  <li><a href="#">Previous</a></li>
  <li><a href="#">Next</a></li>
</ul>
