<div class="row">

  <div class="col-sm-8 blog-main">

    <div class="blog-post animated zoomIn" ng-repeat="post in posts | orderBy:'-timestamp'" ng-init="editMode=false">
      <!-- display post -->
      <h2 class="blog-post-title">{{post.title}}</h2>
      <p class="blog-post-meta">{{post.timestamp | date:'MMMM d, y'}} by <a href="#">Kevin</a></p>
      <div ng-bind-html="post.body"></div>
      <br>
      <!-- edit post -->
      <div ng-show="editMode">
        <form id="edit-post-form" role="form" ng-submit="updatePost(posts.length - $index - 1)">
          <div class="form-group" ng-class="{'has-error has-feedback': emptyTitleError==true}">
            <label for="editPostTitle" class="sr-only">Title</label>
            <input type="text" id="editPostTitle" class="form-control" ng-model="post.title" placeholder="Title" required>
          </div>
          <div class="form-group" ng-class="{'has-error has-feedback': emptyBodyError==true}">
            <label for="editPostBody" class="sr-only">Body</label>
            <textarea id="editPostBody" class="form-control" ng-model="post.body" placeholder="HTML body" rows="15" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
      <!-- post controls -->
      <ul class="list-inline pull-right ng-cloak" ng-cloak>
        <li><h6><a href="" ng-click="editMode=!editMode" ng-show="loginObj.user">Edit</a></h6></li>
        <li><h6><a href="/#/post/{{posts.length - $index - 1}}">Permalink</a></h6></li>
      </ul>
    </div>

  </div>

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

<!-- 
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>This is my personal blog where I discuss my life.</p>
    </div>

    <div class="sidebar-module">
      <h4>Archives</h4>
      <ol class="list-unstyled">
        <li><a href="#">March 2014</a></li>
        <li><a href="#">February 2014</a></li>
        <li><a href="#">January 2014</a></li>
      </ol>
    </div>
 -->
 
    <div class="sidebar-module">
      <h4>Elsewhere</h4>
      <ol class="list-unstyled">
        <li><a href="http://www.kevinlin.me/">Personal Website</a></li>
        <li><a href="https://github.com/kevin-lin">GitHub</a></li>
        <li><a href="https://www.linkedin.com/pub/kevin-lin/85/130/b15">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/kevin.lin94">Facebook</a></li>
      </ol>
    </div>

  </div><!-- /.blog-sidebar -->

</div>

<!-- 
<ul class="pager">
  <li><a href="#">Previous</a></li>
  <li><a href="#">Next</a></li>
</ul>
 -->