<form id="new-post-form" role="form" ng-submit="submitPost()">
  <div class="form-group">
    <label for="newPostTitle" class="sr-only">Title</label>
    <input type="text" id="newPostTitle" class="form-control" ng-model="newPostTitle" placeholder="title" required>
  </div>
  <div class="form-group">
    <label for="newPostBody" class="sr-only">Body</label>
    <textarea id="newPostBody" class="form-control" ng-model="newPostBody" placeholder="body" rows="15" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>

<div class="blog-post">
  <h2 class="blog-post-title">{{newPostTitle}}</h2>
  <p class="blog-post-meta">{{previewDate | date:'MMMM d, y'}} by <a href="#">Kevin</a></p>
  <div ng-bind-html="newPostBody"></div>
</div>

<!-- HTML reference -->
<div class="row">
  <div class="col-sm-6">

    <!-- paragraph -->
    <div class="blog-post">
      <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
      <pre><code>&ltp&gtThis blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.&lt/p&gt</code></pre>
    </div>

    <div class="blog-post">
      <p>
        <a href="#">link</a>
        <em>emphasis</em>
        <strong>strong</strong>
      </p>
      <pre><code>&ltp&gt<br>  &lta href="#"&gtlink&lt/a&gt<br>  &ltem&gtemphasis&lt/em&gt<br>  &ltstrong&gtstrong&lt/strong&gt<br>&lt/p&gt</code></pre>
    </div>

    <div class="blog-post">
      <h2>h2. Heading</h2>
      <h3>h3. Sub-Heading</h3>
      <pre><code>&lth2&gth2. Heading&lt/h2&gt<br>&lth3&gth3. Sub-Heading&lt/h3&gt</code></pre>
    </div>

    <div class="blog-post">
      <ul>
        <li>foo</li>
        <li>bar</li>
        <li>baz</li>
      </ul>
      <pre><code>&ltul&gt<br>  &ltli&gtfoo&lt/li&gt<br>  &ltli&gtbar&lt/li&gt<br>  &ltli&gtbaz&lt/li&gt<br>&lt/ul&gt</code></pre>
    </div>

  </div>

  <div class="col-sm-6">

    <div class="blog-post">
      <hr>
      <pre><code>&lthr&gt</code></pre>
    </div>

    <div class="blog-post">
      <blockquote>
        <p>blockquote blockquote blockquote</p>
      </blockquote>
      <pre><code>&ltblockquote&gt<br>  &ltp&gtblockquote blockquote blockquote&lt/p&gt<br>&lt/blockquote&gt</code></pre>
    </div>

    <div class="blog-post">
      <pre><code>code</code></pre>
      <pre><code>&ltpre&gt&ltcode&gtcode&lt/code&gt&lt/pre&gt</code></pre>
    </div>

    <div class="blog-post">
      <ol>
        <li>foo</li>
        <li>bar</li>
        <li>baz</li>
      </ol>
      <pre><code>&ltol&gt<br>  &ltli&gtfoo&lt/li&gt<br>  &ltli&gtbar&lt/li&gt<br>  &ltli&gtbaz&lt/li&gt<br>&lt/ol&gt</code></pre>
    </div>

  </div>
</div>
