<form id="new-post-form" role="form" ng-submit="submitPost()">
  <div class="form-group">
    <label for="newPostTitle" class="sr-only">Title</label>
    <input type="text" id="newPostTitle" class="form-control" ng-model="data.newPostTitle" placeholder="title">
  </div>
  <div class="form-group">
    <label for="newPostBody" class="sr-only">Body</label>
    <textarea id="newPostBody" class="form-control" ng-model="data.newPostBody" placeholder="body" rows="15"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>
